<body data-spy="scroll" data-target=".navbar" data-offset="50">
  <!--header navbar-->
  <%= partial "partials/header" %>

  <div class="container">
    <%= partial "partials/description" %>

    <!--How it works-->
    <%= partial "partials/how_it_works" %>

    <!--MMS Advantages-->
    <%= partial "partials/mms_advantages" %>

    <!--About Us-->
    <%= partial "partials/our_story" %>

    <!--Our Teams-->
    <%= partial "partials/our_teams" %>

    <!--Contact Us-->

    <!--Footer-->
    <%= partial "partials/footer" %>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.4.5/js/bootstrapvalidator.min.js"></script>

</body>

